#main {
    text-align: center;
    height: 100%;
}

#card {
    line-height: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px 4px rgba(119,119,119,.75);
    -moz-box-shadow: 0 0 10px 4px rgba(119,119,119,.75);
    -webkit-box-shadow: 0 0 10px 4px rgba(119,119,119,.75);
    padding: 15px;
    min-height: 153px;
    width: 225px;
    background-color: #ffc;
    display: table;
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

#word {
    font-size: 36pt;
    display: table-cell;
    text-align: center;
    font-weight: 200;
    vertical-align: middle;
}

#transcription {
    font-size: 24pt;
    display: none;
    text-align: center;
    font-weight: 200;
    vertical-align: middle;
}

#translationBtn {
    margin-top: 50px;
}

#left-block {
    position: fixed;
    top: 100px;
    left: 0;
    height: 100vh;
    width: inherit;
}

#right-block {
    position: fixed;
    top: 100px;
    right: 0;
    height: 100vh;
    width: inherit;
}