
<link href="~/Content/TrainStyles.css" rel="stylesheet" />

@{
    ViewBag.Title = "Linguist: Тренировка";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Тренировка</h2>
<h3>Все слова</h3>

<div id="main">
    <img src="~/Resources/navigate-left.png" id="left"/> 
    
    <div id="center">
        <img src="~/Resources/paper.png" />
        <div id="word">
            <h3>Слово</h3>
        </div>
    </div>
    <input type="button" class="btn btn-default" value="Показать перевод" />

    <img src="~/Resources/navigate-right.png" id="right"/>
</div>

