
<link href="~/Content/TrainStyles.css" rel="stylesheet" />

@{
    ViewBag.Title = "Linguist: Тренировка";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Тренировка</h2>
<h3>Все слова</h3>

<hr/>
<br/>

<div id="main" class="row col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="~/Resources/navigate-left.png" id="left" /> 
    </div>
    
    <div id="center" class="col-md-4 col-sm-4 col-xs-4">
        <img src="~/Resources/paper.png" />
        <div id="word">
            <h3>Слово</h3>
        </div>        
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="~/Resources/navigate-right.png" id="right" />
    </div>
    
    <input type="button" class="btn btn-default" value="Показать перевод" />
</div>

