@{
    ViewBag.Title = "Linguist: Тренировка";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Тренировка</h2>

<div class="col-md-8 col-md-offset-2">
        
    <hr />
    <p>
        @Html.ActionLink("Все слова", "AllWords", "Training", null, new { @class = "btn btn-default" })
    </p>
    <p>
        @Html.ActionLink("Слова из словаря", "CategoryWords", "Training", null, new { @class = "btn btn-default" })
    </p>
    <p>
        @Html.ActionLink("Новые слова", "LastWords", "Training", null, new { @class = "btn btn-default" })
    </p>
</div>