@model IEnumerable<Linguist.DataLayer.Model.Word>

<link href="~/Content/trainStyles.css" rel="stylesheet" />

@{
    ViewBag.Title = "Linguist: Тренировка";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Тренировка</h2>
<h3 id="counter">Все слова</h3>

<hr />
<br />

<div id="main" class="row">

    <div class="col-md-4 col-sm-3 col-xs-2">
        <a id="left-block"></a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-8">
        <div id="card">
            <div id="word"></div>
        </div>
        <button name="button" id="translationBtn" class="btn btn-default hidden-xs">Показать перевод</button>
    </div>

    <div class="col-md-4 col-sm-3 col-xs-2">
        <a id="right-block"></a>
    </div>

</div>

<script>
    var words = @Html.Raw(Json.Encode(Model));
</script>

<script src="~/Scripts/trainingController.js"></script>