@model IEnumerable<Linguist.DataLayer.Model.Word>

<link href="~/Content/TrainStyles.css" rel="stylesheet" />

@{
    ViewBag.Title = "Linguist: Тренировка";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Тренировка</h2>
<h3 id="counter">Все слова</h3>

<hr/>
<br/>

<div id="main" class="row col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="~/Resources/navigate-left.png" id="left" /> 
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="~/Resources/paper.png" id="card"/>
        <div id="word"></div>        
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="~/Resources/navigate-right.png" id="right" />
    </div>

    <button name="button" id="translationBtn" class="btn btn-default">Показать перевод</button>
</div>

<script>
    var words = @Html.Raw(Json.Encode(Model));
</script>

<script src="~/Scripts/trainingController.js"></script>