
@{
    ViewBag.Title = "Linguist: Регистрация";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel with-nav-tabs panel-info">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li>
                            @Html.ActionLink("Вход", "Login", "Account", new { data_toggle = "tab" })
                        </li>
                        <li class="active">
                            @Html.ActionLink("Регистрация", "Register", "Account", new { data_toggle = "tab" })
                        </li>
                    </ul>
                </div>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="login" class="tab-pane fade in active register">
                                <div class="container-fluid">
                                    <div class="row">
                                        <h2 class="text-center" style="color: #5cb85c;">
                                            <strong> Регистрация </strong>
                                        </h2><hr />
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-user"></span>
                                                        </div>
                                                        <input type="text" placeholder="Введите логин (e-mail)" name="login" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-user"></span>
                                                        </div>
                                                        <input type="text" placeholder="Введите Ваше имя" name="name" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-lock"></span>
                                                        </div>
                                                        <input type="password" placeholder="Введите пароль" name="password" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <input type="submit" value="Сохранить" class="btn btn-success btn-block btn-lg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
