@model IEnumerable<Linguist.DataLayer.Model.Word>

<link href="~/Content/testStyles.css" rel="stylesheet" />

@{
    ViewBag.Title = "Linguist: Teст";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Тестирование</h2>
<h3 id="total-counter">Все слова</h3>
<h5 id="right-counter">Правильно:</h5>
<h5 id="wrong-counter">Неправильно:</h5>

<hr />
<br />

<div id="main">
    
    <div id="question-card">
        <div id="question-word"></div>
    </div>
    
    <div id="answer-card">
        <div id="answer-word"></div>
    </div>

</div>

<script>
    var words = @Html.Raw(Json.Encode(Model));
</script>

<script src="~/Scripts/testController.js"></script>