@model Linguist.Web.Models.CategoryViewModel
    
<div style="margin-left: 20px;" class="hidden-xs">
    @Html.ActionLink("Все слова", "MyWords", "Home", null,
        new
        {
            @class = "btn btn-block btn-default btn-lg"
        })

    @foreach (var category in Model.Categories)
    {
        if (category.CategoryId == Model.CurrentCategoryId)
        {
            @Html.RouteLink(category.CategoryName, new
            {
                controller = "Category",
                action = "Edit",
                categoryId = category.CategoryId
            }, new
            {
                @class = "btn btn-block btn-default btn-lg btn-primary"
            })
        }
        else
        {
            @Html.RouteLink(category.CategoryName, new
            {
                controller = "Home",
                action = "MyWords",
                categoryId = category.CategoryId
            }, new
            {
                @class = "btn btn-block btn-default btn-lg"
            })
        }
    }
    
    @Html.ActionLink("Добавить словарь", "Add", "Category", null,
        new
        {
            @class = "btn btn-block btn-default btn-lg"
        })
</div>