@model Linguist.Web.Models.CategoryViewModel
    
<div style="margin-left: 20px;" class="hidden-xs">
    @Html.ActionLink("Все слова", "MyWords", "Home", null,
        new
        {
            @class = "btn btn-block btn-default btn-lg"
        })

    @foreach (var category in Model.Categories)
    {
        @Html.RouteLink(category.CategoryName, new
        {
            controller = "Home",
            action = "MyWords",
            categoryId = category.CategoryId
        }, new
        {
            @class = ("btn btn-block btn-default btn-lg")
                     + (category.CategoryId == Model.CurrentCategoryId ? " btn-primary" : "")
        })
    }
    
    @Html.ActionLink("Добавить словарь", "Add", "Category", null,
        new
        {
            @class = "btn btn-block btn-default btn-lg"
        })
</div>


@*<nav class="navbar navbar-default visible-xs">
        
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Словари<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    
                    @foreach (var category in Model.Categories)
                    {
                        <li><a href="@Url.Action("MyWords", "Home", new { categoryId = category.CategoryId })">category.CategoryName</a></li>
                    }
                    
                    <li><a href="#">Добавить словарь</a></li>
                </ul>
            </li>
        </ul>

    </nav>*@