
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Настройки</h2>

<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="text-align: left">

    <hr />
    @*<p>
        @Html.ActionLink("ChangeAllQuotesToStars", "ChangeAllQuotesToStars", "Options", null, new { @class = "btn btn-default" })
    </p>
    <p>
        @Html.ActionLink("ShiftAllStarsLeft", "ShiftAllStarsLeft", "Options", null, new { @class = "btn btn-default" })
    </p>*@
    
    <input type="button" id="changePassBtn" value="Сменить пароль" class="btn btn-default" />
    
    <div id="changePass" style="display: none">
        <div class="input-group" style="margin: 10px 0;">
            <span class="input-group-addon">Старый пароль:</span>
            <input id="oldPass" type="text" class="form-control" name="msg">
        </div>
        
        <div class="input-group" style="margin: 10px 0;">
            <span class="input-group-addon">Новый пароль:</span>
            <input id="newPass" type="text" class="form-control" name="msg">
        </div>

        <input type="button" id="savePassBtn" value="Сохранить пароль" class="btn btn-default" style="margin: 10px 0;"/>
    </div>

</div>

<script src="~/Scripts/optionsController.js"></script>